{% load static %}<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home do Site</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
</head>
<body>
    {% include "html/header.html" %} <!-- carrega o html da nabar -->
    <h1>{% block texto %}DEFAULT{% endblock texto %}</h1>
    <h1>Isto é um H1</h1>
    <h2>Isto é um H2</h2>
    <h3>Isto é um H3</h3>
    <p>Isto é um paragrafo</p>
</body>
</html>